<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>スプラ3スケジュール</title>
  <script src="https://unpkg.com/vue@3.0.0"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="luxon.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>

<body>
  <div id="app1">
    <!-- タブ切り替え部分 -->
    <div id="tabs">
      <div v-if="scheduleChallengeList.length != 0" @click="currentTab = 'challenge'"
        :class="{ active: currentTab === 'challenge' }" class="tab-challenge">
        <img class="mode" src="img/バンカラ.png" />
        <span>チャレンジ</span>
      </div>
      <div v-if="scheduleOpenList.length != 0" @click="currentTab = 'open'" :class="{ active: currentTab === 'open' }"
        class="tab-open"><img class="mode" src="img/バンカラ.png" /><span>オープン</span></div>
      <div v-if="scheduleFestChallengeList.length != 0" @click="currentTab = 'festchallenge'"
        :class="{ active: currentTab === 'festchallenge' }" class="tab-festchallenge"><img class="mode"
          src="img/フェス.png" /><span>フェス(チャレンジ)</span></div>
      <div v-if="scheduleFestList.length != 0" @click="currentTab = 'fest'" :class="{ active: currentTab === 'fest' }"
        class="tab-fest"><img class="mode" src="img/フェス.png" /><span>フェス(オープン)</span></div>
      <div v-if="scheduleRegularList.length != 0" @click="currentTab = 'regular'"
        :class="{ active: currentTab === 'regular' }" class="tab-regular"><img class="mode"
          src="img/レギュラー.png" /><span>レギュラー</span></div>
      <div v-if="scheduleXmatchList.length != 0" @click="currentTab = 'xmatch'"
        :class="{ active: currentTab === 'xmatch' }" class="tab-xmatch"><img class="mode"
          src="img/Xマッチ.png" /><span>Xマッチ</span></div>
      <div @click="currentTab = 'salmon'" :class="{ active: currentTab === 'salmon' }" class="tab-salmon"><img
          class="mode" src="img/サーモンラン.png" /><span>サーモンラン</span></div>
      <div @click="currentTab = 'event'" :class="{ active: currentTab === 'event' }" class="tab-event"><img class="mode"
          src="img/イベント.png" /><span>イベント</span></div>
    </div>

    <!-- スケジュール表示部分 -->
    <schedule-table v-if="currentTab === 'open'" :schedules="scheduleOpenList"></schedule-table>
    <schedule-table v-if="currentTab === 'challenge'" :schedules="scheduleChallengeList"></schedule-table>
    <schedule-table v-if="currentTab === 'regular'" :schedules="scheduleRegularList"></schedule-table>
    <schedule-table v-if="currentTab === 'xmatch'" :schedules="scheduleXmatchList"></schedule-table>
    <table v-if="currentTab === 'event'" class="schedule">
      <template v-for="schedule in scheduleEventList">
        <tr class="date-row">
          <td colspan="4">{{ schedule.dayString }}</td>
        </tr>
        <tr>
          <th>時間</th>
          <th>イベント</th>
          <th>ルール</th>
          <th>ステージ</th>
        </tr>
        <tr v-for="item in schedule.scheduleList">
          <td class="time-slot">{{ item.start_time_view }}</td>
          <td>{{ item.event.name }}</td>
          <td>{{ item.rule.name }}</td>
          <td class="stage">
            <div class="stage-list">
              <div>
                <img :src="item.stages[0].image" :alt="item.stages[0].name" />
                <div class="stage-name">{{ item.stages[0].name }}</div>
              </div>
              <div>
                <img :src="item.stages[1].image" :alt="item.stages[1].name" />
                <div class="stage-name">{{ item.stages[1].name }}</div>
              </div>
            </div>
          </td>
        </tr>
      </template>
    </table>
    <div v-if="currentTab === 'event' && scheduleEventList.length == 0">
      現在イベントは開催されていません。
    </div>

    <schedule-table v-if="currentTab === 'festchallenge'" :schedules="scheduleFestChallengeList"></schedule-table>
    <div v-if="currentTab === 'festchallenge' && scheduleFestChallengeList.length == 0">
      現在フェス(チャレンジ)は開催されていません。
    </div>

    <schedule-table v-if="currentTab === 'fest'" :schedules="scheduleFestList"></schedule-table>
    <div v-if="currentTab === 'fest' && scheduleFestList.length == 0">
      現在フェス(オープン)は開催されていません。
    </div>

    <table v-if="currentTab === 'salmon'" class="schedule">
      <template v-for="schedule in scheduleCoopGroupingList">
        <tr class="date-row">
          <td colspan="4">{{ schedule.period }}</td>
        </tr>
        <tr>
          <th>時間</th>
          <th>ボス</th>
          <th>ステージ</th>
          <th>ブキ</th>
        </tr>
        <tr v-for="item in schedule.scheduleList">
          <td class="time-slot">{{ item.diff }}</td>
          <td>
            <div>
              <img class="boss" :src="item.boss_image" :alt="item.boss.name" />
              <div class="stage-name">{{ item.boss.name }}</div>
            </div>
          </td>
          <td class="stage">
            <div>
              <img :src="item.stage.image" :alt="item.stage.name" />
              <div class="stage-name">{{ item.stage.name }}</div>
            </div>
          </td>
          <td class="weapon">
            <div class="weapons-list">
              <div>
                <img :src="item.weapons[0].image" :alt="item.weapons[0].name" />
                <div class="stage-name">{{ item.weapons[0].name }}</div>
              </div>
              <div>
                <img :src="item.weapons[1].image" :alt="item.weapons[1].name" />
                <div class="stage-name">{{ item.weapons[1].name }}</div>
              </div>
              <div>
                <img :src="item.weapons[2].image" :alt="item.weapons[2].name" />
                <div class="stage-name">{{ item.weapons[2].name }}</div>
              </div>
              <div>
                <img :src="item.weapons[3].image" :alt="item.weapons[3].name" />
                <div class="stage-name">{{ item.weapons[3].name }}</div>
              </div>
            </div>
          </td>
        </tr>
      </template>
    </table>
    <button class="back-to-top" :class="{ show: isVisible }" @click="scrollToTop">
      ↑ トップへ戻る
    </button>
  </div>
  <script src="main.js"></script>
  <!-- フッター部分を追加 -->
  <footer>
    <p>
      Developed by
      <!-- Twitterアイコン -->
      <a href="https://x.com/ruhiel_buin" target="_blank" aria-label="Twitter Profile">
        <img src="img/twitter-icon.png" alt="Twitter Icon" class="footer-icon">
      </a>
      <!-- GitHubアイコン -->
      <a href="https://github.com/ruhiel" target="_blank" aria-label="GitHub Profile">
        <img src="img/github-icon.png" alt="GitHub Icon" class="footer-icon">
      </a>
      - This site uses data provided by the
      <a href="https://spla3.yuu26.com/" target="_blank">Spla3 API</a>.
    </p>
  </footer>
</body>

</html>