<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>スプラスケジュール</title>
  <script src="https://unpkg.com/vue@3.0.0"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app1">
    <!-- タブ切り替え部分 -->
    <div id="tabs">
      <div @click="currentTab = 'challenge'" :class="{ active: currentTab === 'challenge' }" class="tab-challenge">チャレンジ
      </div>
      <div @click="currentTab = 'open'" :class="{ active: currentTab === 'open' }" class="tab-open">オープン</div>
      <div @click="currentTab = 'regular'" :class="{ active: currentTab === 'regular' }" class="tab-regular">レギュラー</div>
      <div @click="currentTab = 'xmatch'" :class="{ active: currentTab === 'xmatch' }" class="tab-xmatch">Xマッチ</div>
      <div @click="currentTab = 'salmon'" :class="{ active: currentTab === 'salmon' }" class="tab-salmon">サーモンラン</div>
      <div @click="currentTab = 'event'" :class="{ active: currentTab === 'event' }" class="tab-event">イベント</div>
    </div>

    <!-- スケジュール表示部分 -->
    <schedule-table v-if="currentTab === 'open'" :schedules="scheduleOpenList"></schedule-table>
    <schedule-table v-if="currentTab === 'challenge'" :schedules="scheduleChallengeList"></schedule-table>
    <schedule-table v-if="currentTab === 'regular'" :schedules="scheduleRegularList"></schedule-table>
    <schedule-table v-if="currentTab === 'xmatch'" :schedules="scheduleXmatchList"></schedule-table>
    <table v-if="currentTab === 'event'" class="schedule">
      <template v-for="schedule in scheduleEventList">
        <tr class="date-row">
          <td colspan="4">{{ schedule.dayString }}</td>
        </tr>
        <tr>
          <th>時間</th>
          <th>イベント</th>
          <th>モード</th>
          <th>ステージ</th>
        </tr>
        <tr v-for="item in schedule.scheduleList">
          <td class="time-slot">{{ item.start_time_view }}</td>
          <td>{{ item.event.name }}</td>
          <td>{{ item.rule.name }}</td>
          <td class="stage">
            <div class="stage-list">
              <div>
                <img :src="item.stages[0].image" :alt="item.stages[0].name" />
                <div class="stage-name">{{ item.stages[0].name }}</div>
              </div>
              <div>
                <img :src="item.stages[1].image" :alt="item.stages[1].name" />
                <div class="stage-name">{{ item.stages[1].name }}</div>
              </div>
            </div>
          </td>
        </tr>
      </template>
    </table>

    <div v-if="currentTab === 'salmon'">
      <p>サーモンランのコンテンツをここに表示します。</p>
    </div>
  </div>
  <script src="main.js"></script>
</body>

</html>