body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.schedule {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
}

.schedule th,
.schedule td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.schedule th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.time-slot {
    background-color: #fffae6;
    font-weight: bold;
}

.mode {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    /* 枠線を消す */
}

.mode img {
    width: 30px;
    height: 30px;
}

.stage img {
    width: 300px;
    height: auto;
    max-height: 150px;
    border-radius: 5px;
}

.weapon img {
    width: 200px;
    height: auto;
    max-height: 150px;
    border-radius: 5px;
}

.stage-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.weapons-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.stage-name {
    font-size: 0.9em;
    margin-bottom: 5px;
    /* 画像上に余白を作る */
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}

.date-row {
    background-color: #f4f4f4;
    font-size: 1.2em;
    font-weight: bold;
}

/* タブの共通スタイル */
#tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border-bottom: 2px solid #ccc;
}

#tabs div {
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f9f9f9;
}

#tabs div:hover {
    background-color: #ddd;
}

/* 各タブごとのアクティブ時のスタイル */
#tabs .tab-open.active {
    background-color: #f64911;
    color: white;
    font-weight: bold;
}

#tabs .tab-challenge.active {
    background-color: #f64911;
    color: white;
    font-weight: bold;
}

#tabs .tab-regular.active {
    background-color: #a9ff1b;
    color: white;
    font-weight: bold;
}

#tabs .tab-xmatch.active {
    background-color: #0fdb9b;
    color: white;
    font-weight: bold;
}

#tabs .tab-salmon.active {
    background-color: #f75e3c;
    color: white;
    font-weight: bold;
}

#tabs .tab-event.active {
    background-color: #f02d7b;
    color: white;
    font-weight: bold;
}

#tabs .tab-fest.active {
    background: linear-gradient(to right, #29f6ad 33%, #fc6127 33%, #fc6127 66%, #0835ff 66%);
    color: white;
    /* 任意の境界線色 */
    font-weight: bold;
}

#tabs .tab-festchallenge.active {
    background: linear-gradient(to right, #29f6ad 33%, #fc6127 33%, #fc6127 66%, #0835ff 66%);
    color: white;
    /* 任意の境界線色 */
    font-weight: bold;
}